.socialcontact{
  text-align: center;
  div{
    padding-top: 10px;
    padding-bottom: 25px;
    .fa{
      font-size: 3.2rem;
      color: $burgandy;
    }
    .fa:hover{
      color: $lime;
    }
  }
}

.fa::after{
  font-family: 'helvetica neue', sans-serif;
}

.email::after{
  content: "email";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.email:hover::after{
  opacity: 100;
}

.twitter::after{
  content: "twitter";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.twitter:hover::after{
  opacity: 100;
}

.instagram::after{
  content: "instagram";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.instagram:hover::after{
  opacity: 100;
}

.linkedin::after{
  content: "linkedin";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.linkedin:hover::after{
  opacity: 100;
}

.github::after{
  content: "github";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.github:hover::after{
  opacity: 100;
}

.codepen::after{
  content: "codepen";
  font-size: 16px;
  color: $burgandy;
  display: block;
  opacity: 0;
}
.codepen:hover::after{
  opacity: 100;
}

.maincontact{
  .address{
    text-align: left;
    padding-top: 25px;
    p{
      padding-left: 12px;
      font-size: 18px;
      a{
        text-decoration: none;
        color: $darkgray;
      }
      a:hover{
        text-decoration: underline;
        color: $pink;
      }
    }
  }
}
