.mobileNav{
  background-color: $medgray;
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  // display: none;
  .socialnavMobile{
    float: left;
    padding-left: 5%;
    width: 300px;
    ul{
      list-style: none;
      margin: 0px;
      margin-top: 4%;
      li{
        display: inline;
        margin: 3.5%;
        .fa{
          font-size: 1.6em;
          color: $burgandy;
        }
      }
    }
  }
  .menunavMobile{
    float: right;
    padding-right: 5%;
    ul{
      list-style: none;
      margin: 0px;
      .fa{
        font-size: 2em;
        color: $burgandy;
        margin-top: 35%;
      }
      li{
        display: none;

      }
    }
  }
}
