@import "variables.scss";
@import "mixins.scss";

h4{
  font-weight: 500;
}

.current, .future{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 75px;
  p{
    text-align: left;
    font-size: 1.15em;
  }
}

.emptyspace{
  height: 300px;
}

.projectinfo{
  background: $lightgraytrans;
  width: 775px;
  margin: 0 auto;
  padding: 10px;
  @include verticalcenter;
  p{
    text-align: left;
    font-size: 1.3em;
  }
  a{
    font-size: 1.3em;
    text-decoration: none;
    color: $pink;
  }
}

.treasures{
  height: 400px;
  background: url(../images/projects/treasuresunearthed_main.png) no-repeat top center;
  background-attachment: fixed;
}

.deadgame{
  height: 400px;
  background: url(../images/projects/deadgame_main.png) no-repeat top center;
  background-attachment: fixed;
}

.goodreads{
  height: 400px;
  background: url(../images/projects/goodreads_main.png) no-repeat top center;
  background-attachment: fixed;
}

.branchless{
  height: 400px;
  background: url(../images/projects/branchlessapp_main.png) no-repeat top center;
  background-attachment: fixed;
}
