.resumebody{
  text-align: left;
}

.sectionHead{
  text-decoration: underline;
}

.entry{
  h6{
    font-size: 1.2em;
  }
  .entryTitle{
    float: left;
  }
  .entryDateLoc{
    float: right;
  }
  ul{
    list-style: none;
    padding-left: 15px;
  }
  p{
    padding-left: 15px;
  }
}




.clearFloat{
  clear: both;
}
