@import "variables.scss";
@import "mixins.scss";
@import "sidebar.scss";
@import "about.scss";
@import "projects.scss";
@import "resume.scss";
@import "contact.scss";

body{
  background-color: $lightgray;
  color: $darkgray;
  font-family: 'helvetica neue', sans-serif;
}

.pagebody{
  text-align: center;
  margin: 0 auto;
  margin: 5% 10% 0 16%;
  padding: 10px 15px;
  background-color: white;
}

.logo img{
  margin-top: 10px;
  height: 150px;
  object-fit: contain;
  }

.headshot img{
  width: 400px;
  object-fit: contain;
}

.homedesc p{
    margin-top: 40px;
    font-size: 1.2em;
  }

.pages{
  padding-top: 10px;
  padding-bottom: 30px;
  a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: $burgandy;
    padding: 5px 10px;
    border: 2px solid $burgandy;
    background: $lightgray;
  }
  a:hover{
    color: $pink;
    text-decoration: underline;
    border: 2px solid $lime;
  }
}

@import "media.scss";
