@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700&display=swap");
@keyframes glitch-1 {
  0% {
    clip: rect(36px, 9999px, 95px, 0); }
  5% {
    clip: rect(31px, 9999px, 74px, 0); }
  10% {
    clip: rect(58px, 9999px, 2px, 0); }
  15% {
    clip: rect(16px, 9999px, 45px, 0); }
  20% {
    clip: rect(15px, 9999px, 99px, 0); }
  25% {
    clip: rect(44px, 9999px, 84px, 0); }
  30% {
    clip: rect(73px, 9999px, 68px, 0); }
  35% {
    clip: rect(84px, 9999px, 42px, 0); }
  40% {
    clip: rect(57px, 9999px, 55px, 0); }
  45% {
    clip: rect(40px, 9999px, 60px, 0); }
  50% {
    clip: rect(31px, 9999px, 96px, 0); }
  55% {
    clip: rect(97px, 9999px, 71px, 0); }
  60% {
    clip: rect(50px, 9999px, 12px, 0); }
  65% {
    clip: rect(64px, 9999px, 9px, 0); }
  70% {
    clip: rect(50px, 9999px, 33px, 0); }
  75% {
    clip: rect(56px, 9999px, 24px, 0); }
  80% {
    clip: rect(87px, 9999px, 79px, 0); }
  85% {
    clip: rect(28px, 9999px, 65px, 0); }
  90% {
    clip: rect(34px, 9999px, 64px, 0); }
  95% {
    clip: rect(82px, 9999px, 66px, 0); }
  100% {
    clip: rect(36px, 9999px, 85px, 0); } }

@keyframes glitch-2 {
  0% {
    clip: rect(7px, 9999px, 89px, 0); }
  5% {
    clip: rect(14px, 9999px, 2px, 0); }
  10% {
    clip: rect(58px, 9999px, 5px, 0); }
  15% {
    clip: rect(48px, 9999px, 32px, 0); }
  20% {
    clip: rect(7px, 9999px, 13px, 0); }
  25% {
    clip: rect(22px, 9999px, 65px, 0); }
  30% {
    clip: rect(84px, 9999px, 58px, 0); }
  35% {
    clip: rect(57px, 9999px, 99px, 0); }
  40% {
    clip: rect(19px, 9999px, 1px, 0); }
  45% {
    clip: rect(2px, 9999px, 6px, 0); }
  50% {
    clip: rect(53px, 9999px, 86px, 0); }
  55% {
    clip: rect(73px, 9999px, 80px, 0); }
  60% {
    clip: rect(82px, 9999px, 52px, 0); }
  65% {
    clip: rect(17px, 9999px, 46px, 0); }
  70% {
    clip: rect(13px, 9999px, 30px, 0); }
  75% {
    clip: rect(58px, 9999px, 69px, 0); }
  80% {
    clip: rect(45px, 9999px, 96px, 0); }
  85% {
    clip: rect(28px, 9999px, 84px, 0); }
  90% {
    clip: rect(94px, 9999px, 67px, 0); }
  95% {
    clip: rect(24px, 9999px, 79px, 0); }
  100% {
    clip: rect(10px, 9999px, 74px, 0); } }

h1 {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h5 {
      font-size: 18px; } }

h6 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h6 {
      font-size: 1rem; } }

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0; }
  @media (max-width: 767px) {
    p {
      font-size: 1rem;
      line-height: 1.25; } }

a {
  transition: all 0.3s ease-in-out; }

ul li {
  font-size: 1rem; }

.fa {
  font-size: 20px; }

.glitch {
  position: relative;
  letter-spacing: 1.5px; }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden; }
  .glitch:before {
    left: 3px;
    text-shadow: 3px 0 #CF307A;
    animation: glitch-1 3s infinite; }
  .glitch:after {
    left: -3px;
    text-shadow: -3px 0 #A82763;
    animation: glitch-2 3s infinite; }

.glitch-hover {
  position: relative; }
  .glitch-hover:before, .glitch-hover:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden; }
  .glitch-hover:before {
    left: 3px;
    text-shadow: 3px 0 #CF307A; }
  .glitch-hover:after {
    left: -3px;
    text-shadow: -3px 0 #A82763; }
  .glitch-hover:hover:before {
    animation: glitch-1 2s infinite; }
  .glitch-hover:hover:after {
    animation: glitch-2 2s infinite; }

body {
  margin: 0; }
  body section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative; }
    body section .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 60px; }
      body section .container .content {
        background-color: transparent;
        text-align: right;
        position: relative;
        padding: 36px 18px 36px 300px; }
        body section .container .content a {
          color: white; }
    body section:nth-child(1) {
      background-color: #133033;
      background-image: url(../images/textures/green-left@2x.png); }
      body section:nth-child(1) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #17393d 45%, #17393d 100%); }
    body section:nth-child(2) {
      background-color: #133033;
      background-image: url(../images/textures/green-right@2x.png); }
      body section:nth-child(2) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #17393d 45%, #17393d 100%); }
    body section:nth-child(3) {
      background-color: #A82763;
      background-image: url(../images/textures/pink-left@2x.png); }
      body section:nth-child(3) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #c22d72 45%, #c22d72 100%); }
        body section:nth-child(3) .container .content ul li a:hover {
          color: #17393d; }
    body section:nth-child(4) {
      background-color: #A82763;
      background-image: url(../images/textures/pink-right@2x.png); }
      body section:nth-child(4) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #c22d72 45%, #c22d72 100%); }
        body section:nth-child(4) .container .content ul li a:hover {
          color: #17393d; }
    body section:nth-child(5) {
      background-color: #b39e5f;
      background-image: url(../images/textures/gold-left@2x.png); }
      body section:nth-child(5) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #b39e5f 45%, #b39e5f 100%); }
        body section:nth-child(5) .container .content ul li a:hover {
          color: #A82763; }
    body section:nth-child(6) {
      background-color: #b39e5f;
      background-image: url(../images/textures/gold-right@2x.png); }
      body section:nth-child(6) .container .content {
        background-image: linear-gradient(150deg, rgba(16, 30, 38, 0) 0%, rgba(16, 30, 38, 0) 35%, #b39e5f 45%, #b39e5f 100%); }
        body section:nth-child(6) .container .content ul li a:hover {
          color: #A82763; }

@media (max-width: 991px) {
  .maintenance .container {
    padding: 20px; }
    .maintenance .container .content {
      background-image: none;
      padding: 2.5rem 1rem 2.5rem 125px;
      text-align: right; } }

@media (max-width: 767px) {
  .maintenance .container .content {
    padding: 2rem 1rem 2rem 75px; }
    .maintenance .container .content h5 span:after {
      content: "\A";
      white-space: pre; } }

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-top: 2rem; }
  .social li {
    padding: 0 1rem; }
    .social li a i {
      transition: all 0.3s ease-in-out; }
      .social li a i:hover {
        color: #b39e5f; }

.projects > a {
  text-decoration: none;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); }
  .projects > a i {
    font-size: 2rem;
    color: white;
    transition: all 0.3s ease-in-out; }
    .projects > a i:hover {
      color: #b39e5f; }

.projects .container h1 {
  text-align: right;
  margin-bottom: 2rem; }

.projects .container .content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .projects .container .content ul h5 {
    margin: 0; }
  .projects .container .content ul p {
    width: 75%;
    margin-top: 0;
    font-weight: 100;
    font-size: 1rem; }
  .projects .container .content ul li {
    font-size: 1.5rem; }
    .projects .container .content ul li a {
      color: #b39e5f;
      text-decoration: none;
      transition: all 0.3s ease-in-out; }
      .projects .container .content ul li a:hover {
        color: #CF307A; }
    .projects .container .content ul li + li {
      margin-top: 0.5rem; }

@media (max-width: 991px) {
  .projects .container {
    padding: 20px; }
    .projects .container .content {
      background-image: none;
      padding: 2.5rem 1rem 2.5rem 125px;
      text-align: right; } }

@media (max-width: 767px) {
  .projects .container .content {
    padding: 2rem 1rem; }
    .projects .container .content ul {
      padding-left: 0; }
      .projects .container .content ul p {
        width: 100%; }
      .projects .container .content ul li {
        font-size: 1.25rem; } }
