@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700&display=swap");
@keyframes glitch-1 {
  0% {
    clip: rect(97px, 9999px, 17px, 0); }
  5% {
    clip: rect(53px, 9999px, 81px, 0); }
  10% {
    clip: rect(6px, 9999px, 17px, 0); }
  15% {
    clip: rect(9px, 9999px, 5px, 0); }
  20% {
    clip: rect(20px, 9999px, 40px, 0); }
  25% {
    clip: rect(78px, 9999px, 94px, 0); }
  30% {
    clip: rect(2px, 9999px, 79px, 0); }
  35% {
    clip: rect(88px, 9999px, 60px, 0); }
  40% {
    clip: rect(63px, 9999px, 44px, 0); }
  45% {
    clip: rect(11px, 9999px, 57px, 0); }
  50% {
    clip: rect(37px, 9999px, 50px, 0); }
  55% {
    clip: rect(100px, 9999px, 29px, 0); }
  60% {
    clip: rect(90px, 9999px, 33px, 0); }
  65% {
    clip: rect(63px, 9999px, 69px, 0); }
  70% {
    clip: rect(48px, 9999px, 89px, 0); }
  75% {
    clip: rect(5px, 9999px, 43px, 0); }
  80% {
    clip: rect(94px, 9999px, 13px, 0); }
  85% {
    clip: rect(91px, 9999px, 82px, 0); }
  90% {
    clip: rect(63px, 9999px, 71px, 0); }
  95% {
    clip: rect(8px, 9999px, 67px, 0); }
  100% {
    clip: rect(51px, 9999px, 19px, 0); } }

@keyframes glitch-2 {
  0% {
    clip: rect(88px, 9999px, 24px, 0); }
  5% {
    clip: rect(73px, 9999px, 60px, 0); }
  10% {
    clip: rect(18px, 9999px, 14px, 0); }
  15% {
    clip: rect(33px, 9999px, 24px, 0); }
  20% {
    clip: rect(15px, 9999px, 44px, 0); }
  25% {
    clip: rect(15px, 9999px, 80px, 0); }
  30% {
    clip: rect(73px, 9999px, 50px, 0); }
  35% {
    clip: rect(95px, 9999px, 47px, 0); }
  40% {
    clip: rect(73px, 9999px, 51px, 0); }
  45% {
    clip: rect(95px, 9999px, 12px, 0); }
  50% {
    clip: rect(26px, 9999px, 7px, 0); }
  55% {
    clip: rect(86px, 9999px, 41px, 0); }
  60% {
    clip: rect(73px, 9999px, 41px, 0); }
  65% {
    clip: rect(69px, 9999px, 73px, 0); }
  70% {
    clip: rect(13px, 9999px, 54px, 0); }
  75% {
    clip: rect(59px, 9999px, 82px, 0); }
  80% {
    clip: rect(30px, 9999px, 13px, 0); }
  85% {
    clip: rect(65px, 9999px, 89px, 0); }
  90% {
    clip: rect(89px, 9999px, 52px, 0); }
  95% {
    clip: rect(6px, 9999px, 1px, 0); }
  100% {
    clip: rect(45px, 9999px, 76px, 0); } }

h1 {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h5 {
      font-size: 18px; } }

h6 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 16px 0; }
  @media (max-width: 991px) {
    h6 {
      font-size: 1rem; } }

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0; }
  @media (max-width: 767px) {
    p {
      font-size: 1rem;
      line-height: 1.25; } }

a {
  transition: all 0.3s ease-in-out; }

ul li {
  font-size: 1rem; }

.fa {
  font-size: 20px; }

.glitch {
  position: relative;
  letter-spacing: 1.5px; }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden; }
  .glitch:before {
    left: 3px;
    text-shadow: 3px 0 #CF307A;
    animation: glitch-1 3s infinite; }
  .glitch:after {
    left: -3px;
    text-shadow: -3px 0 #A82763;
    animation: glitch-2 3s infinite; }

.glitch-hover {
  position: relative; }
  .glitch-hover:before, .glitch-hover:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden; }
  .glitch-hover:before {
    left: 3px;
    text-shadow: 3px 0 #CF307A; }
  .glitch-hover:after {
    left: -3px;
    text-shadow: -3px 0 #A82763; }
  .glitch-hover:hover:before {
    animation: glitch-1 2s infinite; }
  .glitch-hover:hover:after {
    animation: glitch-2 2s infinite; }

body {
  margin: 0; }

.maintenance {
  background-color: #101e26;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .maintenance .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px; }
    .maintenance .container .content {
      background-color: #17393d;
      background-image: linear-gradient(135deg, #101e26 0%, #101e26 25%, #17393d 25%, #17393d 100%);
      padding: 36px 0 36px 300px;
      text-align: center;
      position: relative; }
      .maintenance .container .content a {
        color: white; }
  @media (max-width: 991px) {
    .maintenance .container {
      padding: 20px; }
      .maintenance .container .content {
        background-image: none;
        padding: 2.5rem 1rem 2.5rem 125px;
        text-align: right; } }

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 2rem; }
  .social li {
    padding: 0 1rem; }
    .social li a i {
      transition: all 0.3s ease-in-out; }
      .social li a i:hover {
        color: #b39e5f; }
  @media (max-width: 991px) {
    .social {
      justify-content: flex-end; } }
