body{
  margin: 0;
  section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    .container{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 60px;
      .content{
        background-color: transparent;
        text-align: right;
        position: relative;
        padding: 36px 18px 36px 300px;
        a{
          color: white;
        }
      }
    }
    &.green.left{
      background-color: $primary-dark;
      background-image: url(../images/textures/green-left@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(23,57,61,1) 45%, rgba(23,57,61,1) 100%);
        }
      }
    }
    &.green.center{
      background-color: $primary-dark;
      background-image: url(../images/textures/green-left@2x.png);
    }
    &.green.right{
      background-color: $primary-dark;
      background-image: url(../images/textures/green-right@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(23,57,61,1) 45%, rgba(23,57,61,1) 100%);
        }
      }
    }
    &.pink.left{
      background-color: $secondary-dark;
      background-image: url(../images/textures/pink-left@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(194,45,114,1) 45%, rgba(194,45,114,1) 100%);
          ul{
            li{
              a{
                &:hover{
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
    &.pink.center{
      background-color: $secondary-dark;
      background-image: url(../images/textures/pink-left@2x.png);
    }
    &.pink.right{
      background-color: $secondary-dark;
      background-image: url(../images/textures/pink-right@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(194,45,114,1) 45%, rgba(194,45,114,1) 100%);
          ul{
            li{
              a{
                &:hover{
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
    &.gold.left{
      background-color: $tertiary;
      background-image: url(../images/textures/gold-left@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(179, 158, 95,1) 45%, rgba(179, 158, 95,1) 100%);
          ul{
            li{
              a{
                &:hover{
                  color: $secondary-dark;
                }
              }
            }
          }
        }
      }
    }
    &.gold.center{
      background-color: $tertiary;
      background-image: url(../images/textures/gold-left@2x.png);
    }
    &.gold.right{
      background-color: $tertiary;
      background-image: url(../images/textures/gold-right@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(179, 158, 95,1) 45%, rgba(179, 158, 95,1) 100%);
          ul{
            li{
              a{
                &:hover{
                  color: $secondary-dark;
                }
              }
            }
          }
        }
      }
    }
    &.grey.left{
      background-color: $shade-30;
      background-image: url(../images/textures/grey-left@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(128,128,128,1) 45%, rgba(128,128,128,1) 100%);
        }
      }
    }
    &.grey.center{
      background-color: $shade-30;
      background-image: url(../images/textures/grey-left@2x.png);
    }
    &.grey.right{
      background-color: $shade-30;
      background-image: url(../images/textures/grey-right@2x.png);
      .container{
        .content{
          background-image: linear-gradient(150deg, rgba(16,30,38,0) 0%, rgba(16,30,38,0) 35%, rgba(128,128,128,1) 45%, rgba(128,128,128,1) 100%);
        }
      }
    }
    @media (max-width: $screen-sm-max){
      .container{
        padding: 20px;
        .content{
          background-image: none !important;
          padding: 2.5rem 1rem 2.5rem 125px;
          text-align: right;
        }
      }
    }
    @media (max-width: $screen-xs-max){
      .container{
        .content{
          padding: 2rem 1rem 2rem 75px;
          h5{
            span{
              &:after{
                content: "\A";
                white-space: pre;
              }
            }
          }
        }
      }
    }
  }
}
