html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  section{
    background-color: rgba(37,46,51,.6);
    color: $white;
    .container{
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      .title{
        h2{
          margin-top: 0;
        }
      }
      .content{
        a{
          color: white;
        }
      }
    }
    &.left, &.right{
      .container{
        display: flex;
        align-items: center;
        position: relative;
        .title{
          flex: 1 0 40%;
        }
        .content{
          padding: 40px 0;
          flex: 1 0 60%;
        }
      }
    }
    &.left{
      .container{
        flex-direction: row;
      }
    }
    &.right{
      .container{
        flex-direction: row-reverse;
        .title{
          text-align: right;
        }
      }
    }
    &.center{
      .container{
        text-align: center;
        padding: 40px 0;
      }
    }
    @media (max-width: $screen-sm-max){
      .container{
        padding: 20px;
        .content{
          background-image: none !important;
          padding: 2.5rem 1rem 2.5rem 125px;
          text-align: right;
        }
      }
    }
    @media (max-width: $screen-xs-max){
      .container{
        .content{
          padding: 2rem 1rem 2rem 75px;
          h5{
            span{
              &:after{
                content: "\A";
                white-space: pre;
              }
            }
          }
        }
      }
    }
  }
}
