//2020 redesign
$primary: #17393d;
$primary-lightest: #4DBDC9;
$primary-light: #34818A;
$primary-medium: #1C454A;
$primary-dark: #133033;
$primary-gray: #536773;

$secondary: #c22d72;
$secondary-light: #CF307A;
$secondary-dark: #A82763;

$tertiary: #b39e5f;
$tertiary-light: #BFA965;
$tertiary-dark: #998751;

$white: #fff;
$black: #000;

$shade-10: #f3f3f3;
$shade-20: #D9D9D9;
$shade-30: #BFBFBF;
$shade-40: #808080;
$shade-50: #737373;
$shade-60: #595959;
$shade-70: #333333;
