//2017 original
// $darkgray: #565656;
// $darkgraytrans: rgba(86, 86, 86, .9);
// $medgray: #8F8F8F;
// $lightgray: #F5F5F5;
// $lightgraytrans: rgba(245, 245, 245, .95);
// $burgandy: #2E1122;
// $pink: #94376D;
// $lime: #9DD118;


//2020 redesign
$primary: #17393d;
$primary-light: #296e62;
$primary-dark: #101e26;
$primary-gray: #536773;

$secondary: #c22d72;
$secondary-light: #CF307A;
$secondary-dark: #A82763;

$tertiary: #b39e5f;

$white: #fff;
