//2020 redesign
$primary: #17393d;
$primary-light: #296e62;
$primary-dark: #101e26;
$primary-gray: #536773;

$secondary: #c22d72;
$secondary-light: #CF307A;
$secondary-dark: #A82763;

$tertiary: #b39e5f;

$white: #fff;
