#gallery{
  .main{
    .image-gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .thumbnail{
        max-width: 25%;
        width: 100%;
        img{
          max-width: 95%;
        }
      }
    }
  }
}
