#intro{
  .container{
    .title{
      h1{
        margin-bottom: 0;
      }
      h5{
        margin-top: 0;
      }
    }
    .content{
      background-image: none;
      ul{
        text-align: right;
        li{
          list-style: none;
          font-size: 1.25rem;
          a{
            text-decoration: none;
            &:hover{
              color: $tertiary;
              &.glitch-hover{
                color: $white;
              }
            }
            i{
              font-size: 14px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
