#intro{
  height: 50vh;
  .container{
    padding: 60px 20px 0;
    .title{
      flex: 1 0 75%;
      h1{
        margin-bottom: 0;
      }
      h5{
        margin-top: 0;
      }
    }
    .content{
      flex: 1 0 25%;
      background-image: none;
    }
  }
}
