.maintenance{
  @media (max-width: $screen-sm-max){
    .container{
      padding: 20px;
      .content{
        background-image: none;
        padding: 2.5rem 1rem 2.5rem 125px;
        text-align: right;
      }
    }
  }
  @media (max-width: $screen-xs-max){
    .container{
      .content{
        padding: 2rem 1rem 2rem 75px;
        h5{
          span{
            &:after{
              content: "\A";
              white-space: pre;
            }
          }
        }
      }
    }
  }
}
