header{
  .logo{
    margin: 1rem 1rem;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
    img{
      height: 75px;
      width: auto;
    }
  }
  .menu{
    opacity: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    ul{
      text-align: right;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        font-size: 1.25rem;
        a{
          text-decoration: none;
          color: $white;
          &:hover{
            color: $primary-lightest;
            &.glitch-hover{
              color: $white;
            }
          }
          i{
            font-size: 14px;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .top{
    margin: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    img{
      height: 50px;
    }
  }
  &.sticky{
    .logo{
      opacity: 1;
    }
    .menu{
      opacity: 1;
      background-color: rgba(191,169,101, .75);
    }
    + section{
      // padding-top: 50px;
    }
  }
  @media (max-width: $screen-sm-max){
    background-color: rgba(37,46,51, .98);
    position: fixed;
    width: 115px;
    top: 76px;
    right: -115px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: right 0.4s linear;
    .navtoggle{
      width: 40px;
      height: 40px;
      padding: 0.5rem;
      background-color: rgba(191,169,101, .75);
      position: absolute;
      left: -40px;
      top: 0;
      z-index: 11;
      display: flex;
      align-items: center;
      @include transition;
      *{
        @include transition;
      }
      span{
        display: flex;
        flex-direction: column;
        height: 2px;
        width: 24px;
        background-color: $white;
        &:before{
          content: "";
          min-height: 2px;
          width: 24px;
          background-color: $white;
          position: relative;
          top: -8px;
        }
        &:after{
          content: "";
          min-height: 2px;
          width: 24px;
          background-color: $white;
          position: relative;
          top: 6px;
        }
      }
    }
    .logo{
      position: static;
      opacity: 1;
      text-align: right;
      margin: 0.5rem 1rem 0;
      z-index: 0;
      img{
        height: 50px;
      }
    }
    .menu{
      position: static;
      opacity: 1;
      z-index: 0;
      ul{
        li{
          font-size: 1rem;
        }
      }
    }
    .top{
      img{
        height: 40px;
      }
    }
    &.open{
      right: 0;
      .navtoggle{
        background-color: rgba(191,169,101, .98);
        span{
          justify-content: center;
          height: 2px;
          &:before{
            transform: rotate(45deg);
            right: -4px;
            min-height: 1px;
          }
          &:after{
            transform: rotate(-45deg);
            right: -3.15px;
            min-height: 1px;
            top: 8px;
          }
        }
      }
    }
    &.sticky{
      .menu{
        background-color: transparent;
      }
    }
  }
  @media (max-width: $screen-xs-max){
    width: 117px;
    right: -117px;
    top: 20px;
    .top{
      img{
        height: 30px;
      }
    }
    &.open{
      right: 0;
    }
  }
}


#gallery{
  header{
    .logo{
      opacity: 1;
    }
    @media (max-width: $screen-sm-max){
      position: initial;
      background-color: transparent;
      width: auto;
      display: block;
      .logo{
        position: fixed;
        margin: 1rem;
      }
    }
  }
}
