header{
  .logo{
    margin: 1rem 1rem;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    img{
      height: 75px;
      width: auto;
    }
  }
  .menu{
    opacity: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    ul{
      text-align: right;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        font-size: 1.25rem;
        a{
          text-decoration: none;
          color: $white;
          &:hover{
            color: $primary-lightest;
            &.glitch-hover{
              color: $white;
            }
          }
          i{
            font-size: 14px;
            margin-right: 4px;
          }
        }
      }
    }
  }
  &.sticky{
    .logo{
      opacity: 1;
    }
    .menu{
      opacity: 1;
      background-color: rgba(191,169,101, .75);
    }
    + section{
      // padding-top: 50px;
    }
  }
}
