.projects{
  > a{
    text-decoration: none;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    i{
      font-size: 2rem;
      color: white;
      @include transition;
      &:hover{
        color: $tertiary;
      }
    }
  }
  .container{
    h1{
      text-align: right;
      margin-bottom: 2rem;
    }
    .content{
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h5{
          margin: 0;
        }
        p{
          width: 75%;
          margin-top: 0;
          font-weight: 100;
          font-size: 1rem;
        }
        li{
          font-size: 1.5rem;
          a{
            color: $tertiary;
            text-decoration: none;
            @include transition;
            &:hover{
              color: $secondary-light;
            }
          }
          + li{
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  @media (max-width: $screen-sm-max){
    .container{
      padding: 20px;
      .content{
        background-image: none;
        padding: 2.5rem 1rem 2.5rem 125px;
        text-align: right;
      }
    }
  }
  @media (max-width: $screen-xs-max){
    .container{
      .content{
        padding: 2rem 1rem;
        ul{
          padding-left: 0;
          p{
            width: 100%;
          }
          li{
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
