@import "variables.scss";
@import "mixins.scss";

h4, h5, h6{
  font-weight: 500;
  color: $burgandy;
}

.current, .future{
  width: 90%;
  margin: 0 auto;
}

.currentDesc, .future p{
  text-align: left;
  font-size: 1.15em;
  margin-bottom: 50px;
  a{
    text-decoration: none;
    font-size: 1.1em;
    color: $pink;
  }
  a:hover{
    text-decoration: underline;
  }
}

.projectinfo{
  box-sizing: border-box;
  background: $lightgray;
  margin: 0 auto 20px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &.left{
    flex-direction: row;
    text-align: left;
    .projectDetail{
      padding-left: 15px;
    }
  }
  &.right{
    flex-direction: row-reverse;
    text-align: right;
    .projectDetail{
      padding-right: 15px;
    }
  }
  img{
    max-width: 200px;
    height: auto;
  }
  p{
    font-size: 16px;
  }
  a{
    text-decoration: none;
    font-size: 17px;
    color: $pink;
    &:hover{
      color: $burgandy;
      text-decoration: underline;
    }
  }
}
