.resumebody{
  text-align: left;
}

.download a{
  text-decoration: none;
  color: $darkgray;
}
.download a:hover{
  text-decoration: underline;;
  color: $pink;
}

h5{
  font-size: 20px;
  margin: 25px 0 10px;
  text-decoration: underline;
}

.entry{
  .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  h6{
    font-size: 18px;
    margin-bottom: 0px;
    margin: 25px 0 15px;
  }
  .entryDateLoc{
    font-weight: 300;
    font-size: 18px;
  }
  .dateLoc{
    font-weight: 300;
    font-size: 18px;
  }
  ul{
    list-style: none;
    padding-left: 15px;
    li{
      padding: 5px 0;
    }
    &.projectDutyList{
      li{
        padding: 5px;
      }
    }
  }
  p{
    padding-left: 15px;
    margin-bottom: 5px;
  }
  &.strengths{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    >p{
      margin-top: .5em;
      i{
        padding-right: 5px;
      }
    }
  }
}

.projectDutyList{
  margin-bottom: 5px;
  li{
    display: inline;
    .fa{
      font-size: 12px;
    }
  }
}

.techList{
  min-height: 340px;
  margin-bottom: 20px;
  p{
    font-size: 1.2em;
    padding: 7px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid $darkgray;
    ;
  }
}

.volunteer{
  margin-bottom: 25px;
}

.affiliations{
  p{
    font-size: 1.2em;
    margin-right: 20px;
    margin-bottom: 10px;
    ;
  }
}

.interest-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.interest{
  text-align: center;
  margin-right: 40px;
  img{
    height: 38px;
    object-fit: contain;
  }
}

.clearFloat{
  clear: both;
}
