.resumebody{
  text-align: left;
}

.download a{
  text-decoration: none;
  color: $darkgray;
}
.download a:hover{
  text-decoration: underline;;
  color: $pink;
}

.sectionHead{
  text-decoration: underline;
}

.entry{
  h6{
    font-size: 1.25em;
    margin-bottom: 0px;
  }
  .entryDateLoc{
    float: right;
    font-weight: 300;
    font-size: 1.15em;
  }
  .dateLoc{
    font-weight: 300;
    font-size: 1.15em;
  }
  ul{
    list-style: none;
    padding-left: 15px;
  }
  p{
    padding-left: 15px;
    margin-bottom: 5px;
  }
  &.strengths{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    >p{
      i{
        padding-right: 5px;
      }
    }
  }
}

.projectDutyList{
  margin-bottom: 5px;
  li{
    display: inline;
    .fa{
      font-size: 12px;
    }
  }
}

.techList{
  min-height: 340px;
  margin-bottom: 20px;
  p{
    font-size: 1.2em;
    padding: 7px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid $darkgray;
    float: left;
  }
}

.volunteer{
  margin-bottom: 25px;
}

.affiliations{
  p{
    font-size: 1.2em;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
  }
}

.interest{
  float: left;
  text-align: center;
  margin-right: 40px;
  img{
    height: 38px;
    object-fit: contain;
  }
}

.clearFloat{
  clear: both;
}
