#skills{
  .container{
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      > div{
        flex: 1 0 25%;
        padding: 0 20px;
        ul{
          padding-left: 0;
          li{
            list-style: none;
          }
        }
        &.tools{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          h5{
            width: 100%;
            margin-bottom: 0;
          }
          ul{
            flex: 1 0 50%;
          }
        }
      }
    }
  }
  @media (max-width: $screen-sm-max){
    .container{
      .content{
        >div{
          padding: 0 10px;
        }
      }
    }
  }
  @media (max-width: $screen-xs-max){
    .container{
      .content{
        flex-wrap: wrap;
        >div{
          flex: 1 0 45%;
        }
      }
    }
  }
}
