#skills{
  .container{
    .title{

    }
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      > div{
        flex: 1 0 30%;
        padding: 0 20px;
        ul{
          padding-left: 0;
          li{
            list-style: none;
          }
        }
        &.tools{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          h5{
            width: 100%;
            margin-bottom: 0;
          }
          ul{
            flex: 1 0 50%;
          }
        }
      }
    }
  }
}
