h1{
  font-family: $font-serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 3rem;
  }
}
h2{
  font-family: $font-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 2rem;
  }
}
h3{
  font-family: $font-sans;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 1.5rem;
  }
}
h4{
  font-family: $font-sans;
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 1.25rem;
  }
}
h5{
  font-family: $font-sans;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 18px;
  }
}
h6{
  font-family: $font-sans;
  font-size: 18px;
  font-weight: 500;
  margin: 16px 0;
  @media (max-width: $screen-sm-max){
    font-size: 1rem;
  }
}

p{
  font-family: $font-sans;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0;
  @media (max-width: $screen-xs-max){
    font-size: 1rem;
    line-height: 1.25;
  }
}

a{
  @include transition;
}

ul{
  font-family: $font-sans;
  li{
    font-size: 1rem;
  }
}

i{
  font-size: 20px;
  background: linear-gradient(135deg, rgba(77,189,201,0) 0%, rgba(242,56,143,0) 100%);
  -webkit-background-clip: text;
  color: white;
  transition: color 0.4s ease-in-out;
  &:hover{
    background: linear-gradient(135deg, rgba(77,189,201,1) 0%, rgba(242,56,143,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.glitch{
  position: relative;
  letter-spacing: 1.5px;
  &:before, &:after{
    @include glitch;
  }
  &:before{
    @include glitch-1;
  }
  &:after{
    @include glitch-2;
  }
}

.glitch-green{
  position: relative;
  letter-spacing: 1.5px;
  &:before, &:after{
    @include glitch;
  }
  &:before{
    @include glitch-3;
  }
  &:after{
    @include glitch-4;
  }
}

.glitch-gold{
  position: relative;
  letter-spacing: 1.5px;
  &:before, &:after{
    @include glitch;
  }
  &:before{
    @include glitch-5;
  }
  &:after{
    @include glitch-6;
  }
}

.glitch-mixed{
  position: relative;
  letter-spacing: 1.5px;
  &:before, &:after{
    @include glitch;
  }
  &:before{
    @include glitch-1;
  }
  &:after{
    @include glitch-4;
  }
}

.glitch-hover{
  position: relative;
  &:before, &:after{
    @include glitch;
  }
  &:before{
    @include glitch-1-hover;
  }
  &:after{
    @include glitch-2-hover;
  }
  &:hover{
    &:before{
      animation: glitch-1 2s infinite;
    }
    &:after{
      animation: glitch-2 2s infinite;
    }
  }
}
