$darkgray: #565656;
$darkgraytrans: rgba(86, 86, 86, .9);
$medgray: #8F8F8F;
$lightgray: #F5F5F5;
$lightgraytrans: rgba(245, 245, 245, .95);
$burgandy: #2E1122;
$pink: #94376D;
$lime: #9DD118;

$gold: #b39e5f;
