#work{
  background-color: rgba(37,46,51, .7);
  .container{
    .content{
      >div{
        + div{
          margin-top: 2rem;
        }
        h5{
          margin-bottom: 0;
        }
        p{
          margin: 0.5rem 0;
        }
        ul{
          padding-left: 1rem;
          margin: 0.5rem 0 0;
          li{
            list-style: none;
            a{
              text-decoration: none;
              &:hover{
                color: $secondary-lightest;
              }
            }
            + li{
              padding-top: 0.25rem;
            }
          }
        }
      }
    }
  }
}
